@charset "utf-8";

html{
	font-size: 10px;
}

table{
	margin: 0 auto 10px;
	width: 400px;
	height: 200px;
}
table caption{
	font-size: 1.6rem;
	font-weight: bold;
	background: #f0e4d5;
	color: #4b4b4b;
}
table caption img { width: 12px; height: 12px; }
table#main_menu_table .menu_img img { width: 200px; height: 200px; }
table#side_menu_table .menu_img img { width: 200px; height: 200px; }
table#set_menu_table .menu_img img { width: 250px; height: 200px; }
table .menu_name { text-align: left; padding-left: 10px;}
table .menu_price { text-align: right; padding-right: 10px; }
table .menu_name img { width: 20px; height: 16px; }
table .menu_price img { width: 12px; height: 12px; }

td{
	font-size: 1.3rem;
	text-align: left;
}
.detail{
	vertical-align: top;
	background-color: white;
}
